.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  display: flex;
  justify-content: center;
  align-items: center;
}
